body {
    text-align: center;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.89), black) fixed;
}

#board {
    background-image: url("images/backgroundCastles.png");
    background-size: cover;
}
